<!--jusqua nest hub max,  apres il faut gerer le responsiv-->
<div>

    <div class="d-grid gap-5 p-5" style="height: 30em;"> <!--background-image cover getSlide().image_source-->
        <h3>Les pathologies que nous suivons :</h3>
        <div class="col-6 offset-6">
            <div class="d-grid gap-3">
                <h4> {{getSlide().nom}}</h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae amet et fuga facilis excepturi ducimus eligendi ipsum porro nobis. Doloremque quod maxime hic! Quidem ipsum veniam praesentium ad eveniet fuga!</p>
               
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button (click)='getPrev()' style="border: none; background-color: transparent;"><</button>
            <button (click)='getNext()' style="border: none; background-color: transparent;">></button>
        </div>
      
    </div>
    <div class="p-5">
        <h3>Les Méthodes que nous employons :</h3>
    </div>

</div>


  


